*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100svh;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

.card-container{
    
    border:none;
    width: 600px;
    height: 400px;
    display: flex;
    gap: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.img-container{
    flex:1;
    border:none;

    background-image: url(https://images.pexels.com/photos/3685523/pexels-photo-3685523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.info-container{
    flex:1;
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 10px;
   
}

.product-headings{
    border:none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    
}

.product-type{
    font-size: 1rem;
    border:none;
   
}

.product-name{
    font-size: 1.5rem;
    border:none;
    
}

.product-description{
    border:none;
    padding: 0.5rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.product-prices{
    border:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current-price{
    font-size: 1.5rem;
    color: green;
}
.original-price{
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
}

.cart-btn{
    border:none;
    padding: 0.2rem;
}

.cart-btn button{
    width: 100%;
    height: 3rem;
    background-color: crimson;
    border:none;
    color: white;
    font-size: 1rem;
}


@media (width <= 605px) {
   
   .card-container{
    flex-direction: column;
    height: 100%;
    width: 100%;
   }

  
}