*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100svh;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

.card-container{
    
    border:none;
    width: 800px;
    height: 400px;
    display: flex;
    /* background-color: rgb(245, 245, 245); */

    /* border: 2px solid red; */
    
}

.img-container{
    flex:1;
    border: 1px solid grey;
    border-right: none;
   
}

.img-container img{
    width: 100%;
    height: 100%;
}

.info-container{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-left: none;
   
}

.product-headings{
    /* border:1px solid grey; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;

    color: black;

    translate: 0 -50px;
    background-color: plum;

    /* text-align: center; */
}

.product-type{
    font-size: 1rem;
    border:none;
   
}

.product-name{
    font-size: 1.5rem;
    border:none;
    
    
}

.product-description{
    border:none;
    padding: 0.5rem;
    text-align: justify;
    line-height: 1.5rem;
    font-size: 0.9rem;

    translate: 0px -20px;
}

.product-prices{
    border:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current-price{
    font-size: 1.5rem;
    color: green;
}
.original-price{
    font-size: 1rem;
    text-decoration: line-through;
    color: red;
}

.cart-btn{
    border:none;
    padding: 0.2rem;
    display: flex;
    gap: 1rem;
}

.cart-btn button:nth-child(1){
    flex: 1;
    height: 3rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.6rem;
    background-color: orange;
}

.cart-btn button:nth-child(2){
    flex: 1;
    height: 3rem;
    background-color: lightgreen;
    border:none;
    font-size: 1rem;
    border-radius: 0.6rem;
}

.cart-btn button:hover{
    background: black;
    color: white;
}

@media (width <= 605px) {
   
   .card-container{
    flex-direction: column;
    height: 100svh;
    width: 100%;
   }  

  
}